PRIVATE_KEY=0xyourprivatekey
INITIAL_OWNER=0xYourAdminAddress
PLATFORM_FEE_BPS=250
ANVIL_RPC_URL=http://127.0.0.1:8545
TENDERLY_RPC_URL=https://virtual.sepolia.eu.rpc.tenderly.co/b1bfb292-efb9-4c44-b90f-6bf3b3480dd3
SEPOLIA_RPC_URL=
